@import '../../variables';

.navbar {
    display: flex;
    align-items: center;
    height: $topBarHeight;
    padding: 0 2rem;
    background-color: $lightGray;
    box-shadow: $boxShadow;
}

.search {
    background-color: white;
    --ts-input-border: 1px solid #ececec;
}

.drawerLink {
    color: black;
    text-decoration: none;
}
