@import '../../../variables';

.checkboxContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 35px;
    height: 35px;
}

.checkboxContainer:hover {
    background-color: #ececec;
    border-radius: 50%;
}

.checkbox {
    cursor: pointer;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 35px);
}

.title {
    padding: $cardPadding;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.total {
    padding: var(--ts-button-padding);
}
