@import '../../../variables';

.link {
    display: inline-block;
    padding: $cardPadding;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
