@import '../../variables';

.drawer {
    --ts-drawer-position: absolute;
    --ts-drawer-padding: 0;
    --ts-drawer-size: auto;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    padding: 15px 20px;
}

.actions {
    background-color: $lightGray;
    border-top: 1px solid $lightGrayBorder;
    padding: 15px 20px;
    display: flex;
    justify-content: flex-end;
}
