@import '../../variables';

.bar {
    height: $topBarHeight;
    background-color: $lightGray;
    border-bottom: 1px solid $lightGrayBorder;
    box-shadow: $boxShadow;
    display: flex;
    align-items: center;
}

.back {
    color: black;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
