$blue: #4299e1;
$white: #fff;
$dark: #1c1d1f;
$lightGray: #F9F9F9;
$disabledBackground: #6c757d;

$padding: 1rem 2rem;
$boxShadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
$topBarHeight: 80px;
