.defaultLayout {
    min-height: 100dvh;
    position: relative;
}

.centerLayout {
    min-height: 100dvh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
